<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~    Copyright (c) 2018-2025, inforbus All rights reserved.
 ~
 ~ Redistribution and use in source and binary forms, with or without
 ~ modification, are permitted provided that the following conditions are met:
 ~
 ~ Redistributions of source code must retain the above copyright notice,
 ~ this list of conditions and the following disclaimer.
 ~ Redistributions in binary form must reproduce the above copyright
 ~ notice, this list of conditions and the following disclaimer in the
 ~ documentation and/or other materials provided with the distribution.
 ~ Neither the name of the inforbus.com developer nor the names of its
 ~ contributors may be used to endorse or promote products derived from
 ~ this software without specific prior written permission.
 ~ Author: inforbus
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.admin.mapper.BaseTemplateMapper">

    <resultMap id="baseTemplateMap" type="com.inforbus.gjk.admin.api.entity.BaseTemplate">
        <id property="tempId" column="temp_id"/>
        <result property="tempName" column="temp_name"/>
        <result property="tempPath" column="temp_path"/>
        <result property="tempType" column="temp_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remarks" column="remarks"/>
        <result property="tempVersion" column="temp_version"/>
    </resultMap>

    <!--baseTemplate简单分页查询-->
    <select id="getBaseTemplatePage" resultMap="baseTemplateMap">
        SELECT
        temp_id,
        temp_name,
        temp_path,
        temp_type,
        create_time,
        update_time,
        del_flag,
        remarks,
        temp_version
        FROM gjk_base_template
        <where>
            <if test="baseTemplate.tempId != null and baseTemplate.tempId.trim() != ''">
                AND temp_id = #{baseTemplate.tempId}
            </if>
            <if test="baseTemplate.tempName != null and baseTemplate.tempName.trim() != ''">
                AND temp_name = #{baseTemplate.tempName}
            </if>
            <if test="baseTemplate.tempPath != null and baseTemplate.tempPath.trim() != ''">
                AND temp_path = #{baseTemplate.tempPath}
            </if>
            <if test="baseTemplate.tempType != null and baseTemplate.tempType.trim() != ''">
                AND temp_type = #{baseTemplate.tempType}
            </if>
            <if test="baseTemplate.createTime != null and baseTemplate.createTime.trim() != ''">
                AND create_time = #{baseTemplate.createTime}
            </if>
            <if test="baseTemplate.updateTime != null and baseTemplate.updateTime.trim() != ''">
                AND update_time = #{baseTemplate.updateTime}
            </if>
            <if test="baseTemplate.delFlag != null and baseTemplate.delFlag.trim() != ''">
                AND del_flag = #{baseTemplate.delFlag}
            </if>
            <if test="baseTemplate.remarks != null and baseTemplate.remarks.trim() != ''">
                AND remarks = #{baseTemplate.remarks}
            </if>
            <if test="baseTemplate.tempVersion != null and baseTemplate.tempVersion.trim() != ''">
                AND temp_version = #{baseTemplate.tempVersion}
            </if>
        </where>
        order by create_time DESC
    </select>


</mapper>
