<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inforbus.gjk.admin.mapper.GjkTestMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.inforbus.gjk.admin.api.entity.GjkTest">
		<id column="test_id" property="testId"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="parent_id" property="parentId"/>
		<result column="sort" property="sort"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>

	<resultMap id="TestVoResultMap" type="com.inforbus.gjk.admin.api.vo.TestVO">
		<id column="test_id" property="testId"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="parent_id" property="parentId"/>
		<result column="sort" property="sort"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>

	<!--通过角色查询平台库信息-->
	<select id="listTestsByRoleId" resultMap="TestVoResultMap">
		SELECT
			gjk_test.*
		FROM
			gjk_test
		WHERE
			gjk_test.del_flag = 0
		ORDER BY
			gjk_test.sort DESC
    </select>

	<select id="queryColumns" resultType="map">
		select column_name
		columnName, data_type dataType, column_comment columnComment,
		column_key columnKey, extra from information_schema.columns
		where
		table_name = #{tableName} and table_schema = (select database())
		order
		by ordinal_position
	</select>

	<delete id="deleteAll">
		DELETE FROM gjk_test
	</delete>

</mapper>
