<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~  Copyright (c) 2019-2020, 冷冷 (wangiegie@gmail.com).
  ~  <p>
  ~  Licensed under the GNU Lesser General Public License 3.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~  <p>
  ~ https://www.gnu.org/licenses/lgpl.html
  ~  <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.admin.mapper.SysDictMapper">

	<resultMap id="sysDictMap" type="com.inforbus.gjk.admin.api.entity.SysDict">
		<id property="id" column="id"/>
		<result property="value" column="value"/>
		<result property="label" column="label"/>
		<result property="type" column="type"/>
		<result property="description" column="description"/>
		<result property="sort" column="sort"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remarks" column="remarks"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

<!--	修改平台库目录时同步修改字典表-->
	<update id="syncModifyDict">
		UPDATE sys_dict
		<set>
			<if test="label != null and !''.equals(label)">
				label = #{label}
			</if>
		</set>
		<where>
			value = #{value}
		</where>
	</update>
	<!-- 通过类型模糊查询字典信息列表 -->
    <select id="getDictVosPage" resultMap="sysDictMap">
		SELECT
			d.*
		FROM
		sys_dict AS d
		<where>
			<if test="query.type != null and query.type != ''">
				and d.type LIKE CONCAT('%',#{query.type},'%')
			</if>
			<if test="query.remarks != null and query.remarks != ''">
				and d.remarks = #{query.remarks}
			</if>
			and d.del_flag = '0'
		</where>
		ORDER BY d.create_time DESC
	</select>
	
	<!-- 通过类型查询字典信息表 -->
	<select id="getDictValue" resultMap="sysDictMap">
		select 
			*
		from sys_dict 
		where type = #{type} and del_Flag != 1 order by create_time DESC
	</select>


	<!-- 根据value与type获取字典数据 -->
	<select id="getDictsByNameAndType" resultMap="sysDictMap"  >
		select
		id,value,label,type,description,sort,create_time,update_time,remarks,del_flag
		from sys_dict As d
		<where>
			<if test="query.value != null and query.value != ''">
				and d.value = #{query.value}
			</if>
			<if test="query.label != null and query.label != ''">
				and d.label = #{query.label}
			</if>
			<if test="query.type != null and query.type != ''">
				and d.type = #{query.type}
			</if>
			and d.del_flag = '0'
		</where>
		order by create_time DESC
	</select>

	<select id="getDictTypes" resultType="com.inforbus.gjk.admin.api.entity.SysDict">
	SELECT DISTINCT * FROM sys_dict a
	where a.del_flag = '0' AND a.remarks ='selectType' AND a.type
	!="comp_selectbin_type" GROUP BY type
	</select>

	<!--通过字典类型与 remarks字段查找字典-->
	<select id="getDictsByTypeAndRemarks" parameterType="com.inforbus.gjk.admin.api.vo.DictVO" resultType="com.inforbus.gjk.admin.api.vo.DictVO">
		SELECT DISTINCT
		*
		FROM sys_dict a
		where a.del_flag = '0'
		AND a.remarks = #{remarks}
		AND a.type = #{type}
		order by create_time DESC
	</select>
</mapper>
