<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inforbus.gjk.pro.mapper.ManagerMapper">

	<resultMap type="com.inforbus.gjk.pro.api.entity.ProjectFile"
		id="projectFileMap">
		<id property="id" column="id" />
		<result property="projectId" column="project_id" />
		<result property="flowId" column="flow_id" />
		<result property="fileName" column="file_name" />
		<result property="fileType" column="file_type" />
		<result property="filePath" column="file_path" />
		<result property="parentId" column="parent_id" />
		<result property="softwareId" column="software_id" />
		<result property="bspId" column="bsp_id" />
		<result property="jsonPath" column="json_path" />
		<result property="newfilePath" column="newfile_path" />
	</resultMap>

	<resultMap type="com.inforbus.gjk.pro.api.entity.ProjectPlan"
		id="projectPlanMap">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="fileName" column="file_name" />
		<result property="filePath" column="file_path" />
	</resultMap>

	<resultMap type="com.inforbus.gjk.admin.api.entity.SysDict"
		id="sysDictMap">
		<id property="id" column="id" />
		<result property="value" column="value" />
		<result property="label" column="label" />
		<result property="type" column="type" />
		<result property="description" column="description" />
		<result property="sort" column="sort" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="remarks" column="remarks" />
		<result property="delFlag" column="del_flag" />
	</resultMap>

	<resultMap
		type="com.inforbus.gjk.pro.api.entity.Hardwarelibs" id="hardwarelibs">
		<result property="id" column="id" />
		<result property="hardwareName" column="hardware_name" />
		<result property="flowId" column="flow_id" />
		<result property="modelId" column="model_id" />
		<result property="projectId" column="project_id" />
		<result property="frontJson" column="front_json" />
		<result property="backJson" column="back_json" />
		<result property="link" column="link" />
		<result property="linkRelation" column="link_relation" />
		<result property="frontCaseForDeployment" column="frontCaseForDeployment" />
	</resultMap>

	<resultMap
		type="com.inforbus.gjk.pro.api.entity.Chipsfromhardwarelibs"
		id="chipsfromhardwarelibs">
		<result property="id" column="id" />
		<result property="chips" column="chips" />
		<result property="projectId" column="projectId" />
		<result property="flowId" column="flowId" />
		<result property="modelId" column="modelId" />
	</resultMap>

	<resultMap
		type="com.inforbus.gjk.pro.api.entity.ChildrenNodes"
		id="childrenNodes">
		<result property="id" column="id" />
		<result property="fileName" column="file_name" />
	</resultMap>
    <!--软件框架库-->
    <resultMap id="softwareMap"
               type="com.inforbus.gjk.pro.api.entity.Software">
        <id property="id" column="id"/>
        <result property="softwareName" column="software_name"/>
        <result property="version" column="version"/>
        <result property="filePath" column="file_path"/>
        <result property="applyState" column="apply_state"/>
        <result property="applyDesc" column="apply_desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="description" column="description"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
    <resultMap id="platformMap"
               type="com.inforbus.gjk.pro.api.entity.GjkPlatform">
        <id column="platform_id" property="platformId"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

	<resultMap id="BSPMap"
			   type="com.inforbus.gjk.admin.api.entity.BSP">
		<id property="id" column="id" />
		<result property="bspName" column="bsp_name" />
		<result property="version" column="version" />
		<result property="filePath" column="file_path" />
		<result property="applyState" column="apply_state" />
		<result property="applyDesc" column="apply_desc" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>

	<resultMap id="softwareDetailMap"
			   type="com.inforbus.gjk.admin.api.entity.SoftwareDetail">
		<id property="software_id" column="softwareId" />
		<result property="platform_id" column="platformId" />
	</resultMap>

	<resultMap id="softwareFileMap"
			   type="com.inforbus.gjk.admin.api.entity.SoftwareFile">
		<id property="software_id" column="softwareId" />
		<result property="file_name" column="fileName" />
		<result property="file_path" column="filePath" />
	</resultMap>

	<resultMap id="bspDetailMap"
			   type="com.inforbus.gjk.admin.api.entity.BSPDetail">
		<id property="bsp_id" column="bspId" />
		<result property="platform_id" column="platformId" />
	</resultMap>

	<resultMap id="bspFileMap"
			   type="com.inforbus.gjk.admin.api.entity.BSPFile">
		<id property="bsp_id" column="bspId" />
		<result property="file_name" column="fileName" />
		<result property="file_path" column="filePath" />
	</resultMap>

	<resultMap id="commonComponentMap"
			   type="com.inforbus.gjk.pro.api.entity.CommonComponent">
		<id property="id" column="id" />
		<result property="compId" column="comp_id" />
		<result property="compName" column="comp_name" />
		<result property="compFuncname" column="comp_funcname" />
		<result property="userId" column="user_id" />
		<result property="version" column="version" />
		<result property="compImg" column="comp_img" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
	<resultMap id="commonComponentDetailMap"
			   type="com.inforbus.gjk.pro.api.entity.CommonComponentDetail">
		<id property="id" column="id" />
		<result property="compId" column="comp_id" />
		<result property="fileName" column="file_name" />
		<result property="fileType" column="file_type" />
		<result property="filePath" column="file_path" />
		<result property="paraentId" column="paraent_id" />
		<result property="version" column="version" />
		<result property="paraentIds" column="paraent_ids" />
		<result property="libsId" column="libs_id" />
	</resultMap>

	<resultMap id="compStructMap"
			   type="com.inforbus.gjk.common.core.entity.CompStruct">
		<id property="id" column="id" />
		<result property="compId" column="comp_id" />
		<result property="structId" column="struct_id" />
	</resultMap>

	<resultMap id="structlibsMap"
			   type="com.inforbus.gjk.common.core.entity.Structlibs">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="childrenIds" column="children_ids" />
		<result property="name" column="name" />
		<result property="version" column="version" />
		<result property="type" column="type" />
		<result property="dataType" column="data_type" />
		<result property="structType" column="struct_type" />
		<result property="dataLength" column="data_length" />
		<result property="permission" column="permission" />
		<result property="sort" column="sort" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="delFlag" column="del_flag" />
		<result property="storageFlag" column="storage_flag" />
		<result property="applyDesc" column="apply_desc" />
		<result property="paramRemarks" column="param_remarks" />
	</resultMap>

	<resultMap id="baseTemplateMap" type="com.inforbus.gjk.admin.api.entity.BaseTemplate">
		<id property="tempId" column="temp_id"/>
		<result property="tempName" column="temp_name"/>
		<result property="tempPath" column="temp_path"/>
		<result property="tempType" column="temp_type"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="remarks" column="remarks"/>
		<result property="tempVersion" column="temp_version"/>
	</resultMap>

	<sql id="saveBaseTemplateSql">
		temp_id,
		temp_name,
		temp_path,
		temp_type,
		create_time,
		update_time,
		del_flag,
		remarks,
		temp_version
	</sql>

	<sql id="saveSoftwareSql">
		id,
		software_name,
		version,
		file_path,
		apply_state,
		apply_desc,
		create_time,
		update_time,
		description,
		del_flag
	</sql>

	<sql id="projectFileSql">
		id,
		project_id,
		flow_id,
		file_name,
		file_type,
		file_path,
		parent_id,
		software_id,
		bsp_id,
		json_path,
		newfile_path
	</sql>

	<sql id="saveProjectPlanSql">
		id,
		parent_id,
		file_name,
		file_path
	</sql>

	<sql id="hardwarelibs">
		h.id,
		h.hardware_name,
		h.flow_id,
		h.model_id,
		h.project_id,
		h.front_json,
		h.back_json,
		h.link,
		h.link_relation,
		h.frontCaseForDeployment
	</sql>

	<sql id="saveHardwarelibs">
		id,
		hardware_name,
		flow_id,
		model_id,
		project_id,
		front_json,
		back_json,
		link,
		link_relation,
		frontCaseForDeployment
	</sql>

	<sql id="saveChipsfromhardwarelibs">
		id,
		chips,
		projectId,
		flowId,
		modelId
	</sql>

	<sql id="chips">
		id,
		chips,
		projectId,
		flowId,
		modelId
	</sql>
	<sql id="saveBSPSql">
		id,
		bsp_name,
		version,
		file_path,
		apply_state,
		apply_desc,
		create_time,
		update_time,
		description,
		del_flag
	</sql>
	<sql id="saveCommonCompSql">
		id,
		comp_id,
		comp_name,
		comp_funcname,
		user_id,
		version,
		comp_img,
		description
	</sql>
	<sql id="commonComponentDetailSql">
		id,
		comp_id,
		file_name,
		file_type,
		file_path,
		paraent_id,
		version,
		paraent_ids,
		libs_id
	</sql>

	<select id="getChipsById" resultMap="chipsfromhardwarelibs">
		SELECT
		<include refid="chips" />

		FROM gjk_chipsfromhardwarelibs as a
		where
		a.modelId = #{modelId}
	</select>

	<select id="listProjectFileByProjectId"
		resultMap="projectFileMap">
		select
		<include refid="projectFileSql" />
		from gjk_project_detail
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND project_id = #{projectId}
			</if>
		</where>
		ORDER BY file_type
	</select>
	<select id="getProcedureListByProjectId"
		resultMap="projectFileMap">
		select
		<include refid="projectFileSql" />
		from gjk_project_detail
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND project_id = #{projectId}
			</if>
			AND file_type = '9'
		</where>
	</select>
	<!-- 保存项目详细信息 -->
	<insert id="saveProDetail"
		parameterType="com.inforbus.gjk.pro.api.entity.ProjectFile">
		INSERT INTO gjk_project_detail (
		<include refid="projectFileSql" />
		) VALUES (#{proDetail.id},
		#{proDetail.projectId},
		#{proDetail.flowId},
		#{proDetail.fileName},
		#{proDetail.fileType},
		#{proDetail.filePath},
		#{proDetail.parentId},
		#{proDetail.softwareId},
		#{proDetail.bspId},
		#{proDetail.jsonPath},
		#{proDetail.newfilePath})
	</insert>
	<!-- 保存基础模版信息 -->
	<insert id="saveBaseTemplate"
			parameterType="com.inforbus.gjk.admin.api.entity.BaseTemplate">
		INSERT INTO gjk_base_template (
		<include refid="saveBaseTemplateSql" />
		) VALUES (#{baseTemplate.tempId},
		#{baseTemplate.tempName},
		#{baseTemplate.tempPath},
		#{baseTemplate.tempType},
		#{baseTemplate.createTime},
		#{baseTemplate.updateTime},
		#{baseTemplate.delFlag},
		#{baseTemplate.remarks},
		#{baseTemplate.tempVersion})
	</insert>

	<select id="getIdByProjectIdAndFileType"
		resultMap="projectFileMap">
		select
		<include refid="projectFileSql" />
		from gjk_project_detail
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND project_id = #{projectId}
			</if>
			<if test="fileType != null and fileType.trim() != ''">
				AND file_type = #{fileType}
			</if>
		</where>
	</select>

	<select id="getProDetailById" resultMap="projectFileMap">
		select
		<include refid="projectFileSql" />
		from gjk_project_detail
		<where>
			<if test="id != null and id.trim() != ''">
				AND id = #{id}
			</if>
		</where>
	</select>

	<select id="getProFileListByModelId" resultMap="projectFileMap">
		select
		<include refid="projectFileSql" />
		from gjk_project_detail
		<where>
			<if test="modelId != null and modelId.trim() != ''">
				AND parent_id = #{modelId}
			</if>
		</where>
	</select>

	<update id="editProJSON">
		UPDATE `gjk_project_detail` SET `json_path` =
		#{fullPath} WHERE `id` = #{proId}
	</update>

	<select id="findProJSON" resultType="map">
		<!-- fileName select json_path from `gjk_project_detail` WHERE `id` = #{proId} -->

		SELECT pro.file_name as fileName, pro.file_path as filePath,
		pro.json_path as jsonPath, parent.file_path as parentFilePath
		from
		gjk_project_detail pro
		LEFT
		JOIN gjk_project_detail parent
		ON
		pro.parent_id = parent.id WHERE
		pro.id = #{proId};
	</select>

	<!-- 根据点击项目树的id找到上级的上级的id，从而获取流程名file_name -->
	<select id="getProcessName" resultMap="projectFileMap">
		select * from
		gjk_project_detail where id = #{id}
	</select>

	<!-- 根据当前软硬件映射配置的id，查找当前流程下的所有模块的文件路径 -->
	<select id="getFilePathListById" resultMap="projectFileMap">
		SELECT * FROM
		gjk_project_detail
		WHERE
		parent_id = (
		SELECT parent_id FROM
		gjk_project_detail
		WHERE id = #{id})
	</select>

	<!-- 保存软件框架信息 -->
	<insert id="saveProjectPlan"
		parameterType="com.inforbus.gjk.pro.api.entity.ProjectPlan">
		INSERT INTO gjk_project_plan (
		<include refid="saveProjectPlanSql" />
		) VALUES (#{proPlan.id},
		#{proPlan.parentId},
		#{proPlan.fileName},
		#{proPlan.filePath}
		)
	</insert>

	<!-- 保存软件框架信息 -->
	<insert id="saveSoftware"
			parameterType="com.inforbus.gjk.pro.api.entity.Software">
		INSERT INTO gjk_software (
		<include refid="saveSoftwareSql" />
		) VALUES (
		#{soft.id},
		#{soft.softwareName},
		#{soft.version},
		#{soft.filePath},
		#{soft.applyState},
		#{soft.applyDesc},
		#{soft.createTime},
		#{soft.updateTime},
		#{soft.description},
		#{soft.delFlag})
	</insert>
	<!-- 保存软件框架子表信息 -->
	<insert id="saveSoftwareDetail"
			parameterType="com.inforbus.gjk.admin.api.entity.SoftwareDetail">
		INSERT INTO gjk_software_detail (
		 platform_id, software_id
		) VALUES (
		#{softDetail.platformId},
		#{softDetail.softwareId})
	</insert>
	<!-- 保存软件框架子表信息 -->
	<insert id="saveSoftwareFile"
			parameterType="com.inforbus.gjk.admin.api.entity.SoftwareFile">
		INSERT INTO gjk_software_file (
		 software_id, file_name, file_path
		) VALUES (
		#{softFile.softwareId},
		#{softFile.fileName},
		#{softFile.filePath})
	</insert>
	<!-- 根据当前软硬件映射配置的parentid，查找当前流程下的所有模块的文件路径 -->
	<select id="getPlanFilePathListByParentId"
		resultMap="projectPlanMap">
		SELECT * FROM gjk_project_plan
		WHERE
		parent_id = #{parentId}
	</select>

	<update id="saveNewFilePath">
		UPDATE `gjk_project_detail` SET `newfile_path` =
		#{newFilePath} WHERE `id` = #{proDetailId}
	</update>

	<!-- 拿到硬件建模 -->
	<select id="getHardwarelibs" resultMap="hardwarelibs">
		SELECT
		<include refid="hardwarelibs" />
		FROM gjk_hardwarelibs h
		WHERE h.model_id = #{modelId}
	</select>

	<!-- 保存硬件建模 -->
	<insert id="saveHardwarelibs"
		parameterType="com.inforbus.gjk.pro.api.entity.Hardwarelibs">
		INSERT INTO
		gjk_hardwarelibs (
		<include refid="saveHardwarelibs" />
		)VALUES
		(#{hardwarelibs.id},
		#{hardwarelibs.hardwareName},
		#{hardwarelibs.flowId},
		#{hardwarelibs.modelId},
		#{hardwarelibs.projectId},
		#{hardwarelibs.frontJson},
		#{hardwarelibs.backJson},
		#{hardwarelibs.link},
		#{hardwarelibs.linkRelation},
		#{hardwarelibs.frontCaseForDeployment})
	</insert>

	<!-- 保存硬件建模芯片 -->
	<insert id="saveChipsfromhardwarelibs"
		parameterType="com.inforbus.gjk.pro.api.entity.Chipsfromhardwarelibs">
		INSERT INTO
		gjk_chipsfromhardwarelibs (
		<include refid="saveChipsfromhardwarelibs" />
		)VALUES
		(#{chipsfromhardwarelibs.id},
		#{chipsfromhardwarelibs.chips},
		#{chipsfromhardwarelibs.projectId},
		#{chipsfromhardwarelibs.flowId},
		#{chipsfromhardwarelibs.modelId})
	</insert>

	<update id="updateHardwarelib">
		UPDATE `gjk_hardwarelibs` SET
		`front_json` = #{frontJson},
		`back_json` = #{backJson},
		`link` = #{link},
		`frontCaseForDeployment` = #{frontCaseForDeployment},
		`link_relation` = #{linkRelation}
		WHERE `id` = #{id}
	</update>

	<update id="updateChipsfromhardwarelibs">
		UPDATE `gjk_chipsfromhardwarelibs` SET
		`chips` =
		#{chips}
		WHERE `id` = #{id}
	</update>

	<!-- DELETE FROM table_name [WHERE Clause] -->
	<delete id="deleteHardwarelibById">
		DELETE FROM gjk_hardwarelibs WHERE id =
		#{hardwarelibId}
	</delete>

	<!-- DELETE FROM table_name [WHERE Clause] -->
	<delete id="deleteChipsFromHardwarelibs">
		DELETE FROM gjk_chipsfromhardwarelibs WHERE id =
		#{id}
	</delete>

	<!-- 通过模型id拿到所有子节点 -->
	<select id="getAllChildrenNodes" resultMap="childrenNodes">
		SELECT
		pd.id,
		pd.file_name
		FROM gjk_project_detail pd
		WHERE pd.parent_id=#{modelId}
	</select>
    <!--获得软件框架库列表-->
    <select id="getAllSoftwareList" resultMap="softwareMap">
		SELECT *
		FROM gjk_software as gs
		order by gs.software_name desc,gs.version desc
	</select>
    <!--根据多个ID查询数据列表-->
    <select id="getAllSoftwareListByIdIn" resultMap="softwareMap">
        SELECT *
        FROM gjk_software as gs
        where gs.id in (${ids})  and del_flag!='1'
        order by gs.software_name desc,gs.version desc
    </select>
	<select id="getSoftwareById" resultMap="softwareMap">
        SELECT *
        FROM gjk_software as gs
        where gs.id = ${id}
    </select>
	<select id="getSoftwareDetailBySoftwareIdIn" resultMap="softwareDetailMap">
		SELECT * FROM gjk_software_detail
		WHERE software_id IN (${ids})
	</select>
	<select id="getSoftwareDetailBySoftwareIdAndPlatformId" resultMap="softwareDetailMap">
		SELECT * FROM gjk_software_detail
		WHERE software_id = ${softwareId} and platform_id = ${platformId}
	</select>
	<select id="getSoftwareFileBySoftwareIdIn" resultMap="softwareFileMap">
		SELECT * FROM gjk_software_file
		WHERE software_id IN (${ids})
	</select>
	<select id="getSoftwareFileBySoftwareIdAndFileName" resultMap="softwareFileMap">
		SELECT * FROM gjk_software_file
		WHERE software_id = ${id} and file_name = ${fileName}
	</select>
    <!--根据软件框架库ID得到平台库列表-->
    <select id="getAllPlatformListBySoftwareId" resultMap="platformMap">
	select * from gjk_platform gp
	where gp.platform_id in (
	select gsd.platform_id from gjk_software_detail gsd where gsd.software_id=#{id}
	)
	</select>
    <!--平台大类列表-->
    <select id="getPlatformList" resultMap="platformMap">
        select * from gjk_platform gp where gp.parent_id='-1' and del_flag!='1'
    </select>
	<!-- 保存bsp信息 -->
	<insert id="saveBSP"
			parameterType="com.inforbus.gjk.admin.api.entity.BSP">
		INSERT INTO gjk_bsp (
		<include refid="saveBSPSql" />
		) VALUES (#{bs.id},
		#{bs.bspName},
		#{bs.version},
		#{bs.filePath},
		#{bs.applyState},
		#{bs.applyDesc},
		#{bs.createTime},
		#{bs.updateTime},
		#{bs.description},
		#{bs.delFlag}
		)
	</insert>
	<insert id="saveBSPDetail"
			parameterType="com.inforbus.gjk.admin.api.entity.BSPDetail">
		INSERT INTO gjk_bsp_detail (
			platform_id, bsp_id
		) VALUES (
			#{bspDetail.platformId},
			#{bspDetail.bspId})
	</insert>
	<insert id="saveBSPFile"
			parameterType="com.inforbus.gjk.admin.api.entity.BSPFile">
		INSERT INTO gjk_bsp_file (
		file_name, bsp_id, file_path
		) VALUES (#{bspFile.fileName},
		#{bspFile.bspId},
		#{bspFile.filePath})
	</insert>
	<!--获得bsp库列表-->
	<select id="getAllBSPList" resultMap="BSPMap">
		SELECT *
		FROM gjk_bsp as gs
		order by gs.bsp_name desc,gs.version desc
	</select>
	<!--根据软件框架库ID得到平台库列表-->
	<select id="getAllPlatformListByBSPId" resultMap="platformMap">
		select * from gjk_platform gp
		where gp.platform_id in (
			select gsd.platform_id from gjk_bsp_detail gsd where gsd.bsp_id=#{id}
		)
	</select>
	<!--根据多个ID查询数据列表-->
	<select id="getAllBSPListByIdIn" resultMap="BSPMap">
        SELECT *
        FROM gjk_bsp as gs
        where gs.id in (${ids})  and del_flag != '1'
        order by gs.bsp_name desc,gs.version desc
    </select>
	<select id="getBSPById" resultMap="BSPMap">
        SELECT *
        FROM gjk_bsp as gs
        where gs.id = ${id}
    </select>
	<select id="getBSPDetailByBSPIdIn" resultMap="bspDetailMap">
		SELECT * FROM gjk_bsp_detail
		WHERE bsp_id IN (${ids})
	</select>
	<select id="getBSPDetailByBSPIdAndPlatformId" resultMap="bspDetailMap">
		SELECT * FROM gjk_bsp_detail
		WHERE bsp_id = ${bspId} and platform_id = ${platformId}
	</select>
	<select id="getBSPFileByBSPIdIn" resultMap="bspFileMap">
		SELECT * FROM gjk_bsp_file
		WHERE bsp_id IN (${ids})
	</select>

	<select id="queryColumns" resultType="map">
		select column_name
		columnName, data_type dataType, column_comment columnComment,
		column_key columnKey, extra from information_schema.columns
		where
		table_name = #{tableName} and table_schema = (select database())
		order
		by ordinal_position
	</select>
	<!-- 保存公共构件 -->
	<insert id="saveCommonComp"
			parameterType="com.inforbus.gjk.pro.api.entity.CommonComponent">
		INSERT INTO gjk_common_component (
		<include refid="saveCommonCompSql" />
		) VALUES (#{comp.id},
		#{comp.compId},
		#{comp.compName},
		#{comp.compFuncname},
		#{comp.userId},
		#{comp.version},
		#{comp.compImg},
		#{comp.description})
	</insert>
	<!-- 根据多个id查询构件库数据 -->
	<select id="getCommonComponentByIdIn" resultMap="commonComponentMap">
		SELECT * FROM gjk_common_component
		WHERE id IN (${ids})
	</select>
	<!-- 保存公共构件详细信息 -->
	<insert id="saveCommonCompDetail"
			parameterType="com.inforbus.gjk.pro.api.entity.CommonComponentDetail">
		INSERT INTO gjk_common_component_detail (
		<include refid="commonComponentDetailSql" />
		) VALUES
		(#{compDetail.id},
		#{compDetail.compId},
		#{compDetail.fileName},
		#{compDetail.fileType},
		#{compDetail.filePath},
		#{compDetail.paraentId},
		#{compDetail.version},
		#{compDetail.paraentIds},
		#{compDetail.libsId})
	</insert>
	<!-- 根据多个id查询构件库详情数据 -->
	<select id="getCommonComponentDetailByCompIdIn" resultMap="commonComponentDetailMap">
		SELECT * FROM gjk_common_component_detail
		WHERE comp_id IN (${ids})
	</select>
	<insert id="saveCompAndStruct" parameterType="com.inforbus.gjk.common.core.entity.CompStruct">
		INSERT INTO `gjk_comp_struct`
		( `id`, `comp_id`, `struct_id`)
		VALUES
		(#{compStruct.id}, #{compStruct.compId}, #{compStruct.structId})
	</insert>
	<!-- 根据多个id查询构件结构体关系数据 -->
	<select id="getCompStructByCompIdList" resultMap="compStructMap">
		select id, comp_id, struct_id
		from gjk_comp_struct
		where comp_id in
		<foreach collection="compIdList" item="item" index="index"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<!-- 根据多个id查询结构体数据 -->
	<select id="getStructlibsByIdList" resultMap="structlibsMap">
		select *
		from gjk_structlibs
		where id in
		<foreach collection="idList" item="item" index="index"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<!-- 保存结构体 -->
	<insert id="saveStructlibs"
			parameterType="com.inforbus.gjk.common.core.entity.Structlibs">
		INSERT INTO gjk_structlibs (
		id, parent_id, children_ids, name, sort,
		version, type, data_type, struct_type, data_length,
		permission
		)
		VALUES (
		#{structlibs.id},
		#{structlibs.parentId},
		#{structlibs.childrenIds},
		#{structlibs.name},
		#{structlibs.sort},
		#{structlibs.version},
		#{structlibs.type},
		#{structlibs.dataType},
		#{structlibs.structType},
		#{structlibs.dataLength},
		#{structlibs.permission})
	</insert>
</mapper>