<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Copyright (c) 2018-2025, inforbus All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the inforbus.com developer nor the names of its ~ contributors 
	may be used to endorse or promote products derived from ~ this software without 
	specific prior written permission. ~ Author: inforbus -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.pro.mapper.ProjectMapper">

	<resultMap id="projectMap"
		type="com.inforbus.gjk.pro.api.entity.Project">
		<id property="id" column="id" />
		<result property="projectName" column="project_name" />
		<result property="userId" column="user_id" />
		<result property="projectImg" column="project_img" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="defaultSoftwareId"
			column="default_software_id" />
		<result property="defaultBspId" column="default_bsp_id" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>

	<resultMap type="com.inforbus.gjk.pro.api.entity.ProComp"
		id="proCompMap">
		<result property="compId" column="comp_id" />
		<result property="projectId" column="project_id" />
		<result property="canUse" column="can_use" />
	</resultMap>

	<resultMap type="com.inforbus.gjk.admin.api.entity.SysUser"
		id="sysUser">
		<result property="userId" column="user_id" />
		<result property="name" column="name" />
	</resultMap>
	
	<resultMap type="com.inforbus.gjk.pro.api.entity.Hardwarelibs"
			   id="hardwarelibs">
		<result property="id" column="id" />
		<result property="hardwareName" column="hardware_name" />
		<result property="frontJson" column="front_json" />
		<result property="backJson" column="back_json" />
	</resultMap>

	<sql id="proSql">
		id,
		project_name,
		user_id,
		project_img,
		create_time,
		update_time,
		default_software_id,
		default_bsp_id,
		description,
		del_flag
	</sql>

	<sql id="saveProSql">
		id,
		project_name,
		user_id,
		project_img,
		default_software_id,
		default_bsp_id,
		description
	</sql>

	<sql id="proComp">
		id,
		comp_id,
		project_id,
		can_use
	</sql>

	<sql id="saveProComp">
		id,
		comp_id,
		project_id
	</sql>
	
	<sql id="saveHardwarelibs">
		id,
		hardware_name,
		front_json,
		back_json
	</sql>

	<sql id="hardwarelibs">
		id,
		hardware_name,
		front_json,
		back_json
	</sql>

	<!--project简单分页查询 -->
	<select id="getProjectPage" resultMap="projectMap">
		SELECT
		<include refid="proSql" />
		FROM gjk_project
		<where>
			<if test="project.id != null and project.id.trim() != ''">
				AND id = #{project.id}
			</if>

			<if
				test="project.projectName != null and project.projectName.trim() != ''">
				AND project_name = #{project.projectName}
			</if>
			<if test="project.userId != null and project.userId.trim() != ''">
				AND user_id = #{project.userId}
			</if>

			<if
				test="project.createTime != null and project.createTime.trim() != ''">
				AND create_time = #{project.createTime}
			</if>

			<if
				test="project.updateTime != null and project.updateTime.trim() != ''">
				AND update_time = #{project.updateTime}
			</if>

			<if
				test="project.projectImg != null and project.projectImg.trim() != ''">
				AND project_img = #{project.projectImg}
			</if>

			<if
				test="project.description != null and project.description.trim() != ''">
				AND description = #{project.description}
			</if>
			and del_flag = '0'
		</where>
			ORDER  BY create_time DESC
	</select>

	<!-- listProjectByProjectId 通过项目编号查询项目信息 -->
	<select id="listProjectByProjectId" resultMap="projectMap">
		SELECT
		<include refid="proSql" />
		FROM gjk_project
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND id = #{projectId}
			</if>
		</where>
		and del_flag = '0'
	</select>

	<insert id="savePro"
		parameterType="com.inforbus.gjk.pro.api.entity.Project">
		INSERT INTO gjk_project (
		<include refid="saveProSql" />
		) VALUES (#{pro.id},
		#{pro.projectName},
		#{pro.userId},
		#{pro.projectImg},
		#{pro.defaultSoftwareId},
		#{pro.defaultBspId},
		#{pro.description})
	</insert>

	<select id="getProById" resultMap="projectMap">
		SELECT * FROM gjk_project
		<where>
			<if test="id != null and id.trim() != ''">
				AND id = #{id}
			</if>
		</where>
	</select>

	<select id="getProByProName" resultMap="projectMap">
		SELECT * FROM gjk_project
		<where>
			<if test="projectName != null and projectName.trim() != ''">
				AND project_name = #{projectName}
			</if>
		</where>
		and del_flag = '0'
	</select>

	<select id="getProByUserId" resultMap="projectMap">
		SELECT
		<include refid="proSql" />
		FROM gjk_project
		<where>
			<if test=" userId != null and userId.trim() != ''">
				AND user_id = #{userId}
			</if>
		</where>
		and del_flag = '0'
	</select>

	<select id="getIdByProIdCompId" resultMap="proCompMap">
		SELECT
		<include refid="proComp" />
		FROM gjk_project_comp
		<where>
			<if test=" proComp.compId != null and proComp.compId.trim() != ''">
				AND comp_id = #{proComp.compId}
			</if>
			<if
				test=" proComp.projectId != null and proComp.projectId.trim() != ''">
				AND project_id = #{proComp.projectId}
			</if>
		</where>
	</select>

	<insert id="saveProComp"
		parameterType="com.inforbus.gjk.pro.api.entity.ProComp">
		INSERT INTO
		gjk_project_comp (
		<include refid="saveProComp" />
		)VALUES
		(#{proComp.id},
		#{proComp.compId},
		#{proComp.projectId})
	</insert>

	<select id="getUsernameByUserId" resultMap="sysUser">
		SELECT user_id,name FROM sys_user
		<where>
			<if test=" userId != null and userId.trim() != ''">
				AND user_id = #{userId}
			</if>
		</where>
	</select>

	<!-- listProjectByProjectId 通过项目编号查询项目信息 -->
	<select id="listProjectByProjectId" resultMap="projectMap">
		SELECT
		<include refid="proSql" />
		FROM gjk_project
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND id = #{projectId}
			</if>
		</where>
	</select>

	<!-- getByUserId通过用户编号获取项目列表 -->
	<select id="getByUserId" resultMap="projectMap">
		SELECT
		<include refid="proSql" />
		FROM gjk_project
		<where>
			<if test=" userId != null and userId.trim() != ''">
				AND user_id = #{userId}
			</if>
			AND del_flag = 0
		</where>
	</select>
	
	<insert id="saveHardwarelibs"
			parameterType="com.inforbus.gjk.pro.api.entity.Hardwarelibs">
		INSERT INTO
		gjk_hardwarelibs (
		<include refid="saveHardwarelibs" />
		)VALUES
		(#{hardwarelibs.id},
		#{hardwarelibs.hardwareName},
		#{hardwarelibs.frontJson},
		#{hardwarelibs.backJson})
	</insert>

	<select id="getHardwarelibs" resultMap="hardwarelibs">
		SELECT
		<include refid="hardwarelibs" />
		FROM gjk_hardwarelibs
	</select>

</mapper>
