<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Copyright (c) 2018-2025, inforbus All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the inforbus.com developer nor the names of its ~ contributors 
	may be used to endorse or promote products derived from ~ this software without 
	specific prior written permission. ~ Author: inforbus -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.libs.mapper.ApprovalMapper">
	<resultMap type="com.inforbus.gjk.libs.api.entity.Approval"
		id="approvalMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="apply_id" property="applyId" />
		<result column="apply_type" property="applyType" />
		<result column="library_type" property="libraryType" />
		<result column="apply_time" property="applyTime" />
		<result column="apply_user_id" property="applyUserId" />
		<result column="approval_state" property="approvalState" />
		<result column="approval_time" property="approvalTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="description" property="description" />
	</resultMap>

	<resultMap id="approvalApplyMap"
		type="com.inforbus.gjk.libs.api.entity.ApprovalApply">
		<id property="id" column="id" />
		<result property="approvalId" column="approval_id" />
		<result property="applyId" column="apply_id" />
		<result property="approvalState" column="approval_state" />
	</resultMap>

	<sql id="approvalApplySql">
		id,
		approval_id,
		apply_id,
		approval_state
	</sql>

	<sql id="saveApprovalApplySql">
		id,
		approval_id,
		apply_id
	</sql>

	<sql id="approvalSql">
		id,
		user_id,
		apply_id,
		apply_type,
		library_type,
		apply_time,
		apply_user_id,
		approval_state,
		approval_time,
		create_time,
		update_time,
		description
	</sql>

	<!--approval简单分页查询 -->
	<select id="getApprovalPage" resultMap="approvalMap">
		SELECT
		<include refid="approvalSql" />
		FROM
		gjk_approval
		<where>
			<if test="approval.id != null and approval.id.trim() != ''">
				AND id = #{approval.id}
			</if>
			<if
				test="approval.userId != null and approval.userId.trim() != ''">
				AND user_id = #{approval.userId}
			</if>
			<if
				test="approval.applyId != null and approval.applyId.trim() != ''">
				AND apply_id = #{approval.applyId}
			</if>
			<if
				test="approval.applyType != null and approval.applyType.trim() != ''">
				AND apply_type = #{approval.applyType}
			</if>
			<if
				test="approval.libraryType != null and approval.libraryType.trim() != ''">
				AND library_type = #{approval.libraryType}
			</if>
			<if
				test="approval.applyTime != null and approval.applyTime.trim() != ''">
				AND apply_time = #{approval.applyTime}
			</if>
			<if
				test="approval.applyUserId != null and approval.applyUserId.trim() != ''">
				AND apply_user_id = #{approval.applyUserId}
			</if>
			<if
				test="approval.approvalState != null and approval.approvalState != 'unprocessed' and approval.approvalState.trim() != ''">
				AND approval_state = #{approval.approvalState}
			</if>
			<!-- 审批未处理消息 -->
			<if test="approval.approvalState == 'unprocessed'">
				AND approval_state in ('0','1','4')
			</if>
			<if
				test="approval.approvalTime != null and approval.approvalTime.trim() != ''">
				AND approval_time = #{approval.approvalTime}
			</if>
			<if
				test="approval.createTime != null and approval.createTime.trim() != ''">
				AND create_time = #{approval.createTime}
			</if>
			<if
				test="approval.updateTime != null and approval.updateTime.trim() != ''">
				AND update_time = #{approval.updateTime}
			</if>
			<if
				test="approval.description != null and approval.description.trim() != ''">
				AND description = #{approval.description}
			</if>
		</where>

	</select>

	<insert id="saveApprovalApply"
		parameterType="com.inforbus.gjk.libs.api.entity.ApprovalApply">
		INSERT INTO
		gjk_approval_apply (
		<include refid="saveApprovalApplySql" />
		)VALUES
		(#{approvalApply.id},
		#{approvalApply.approvalId},
		#{approvalApply.applyId})
	</insert>

	<select id="getApprovalApplyById" resultMap="approvalApplyMap">
		SELECT
		<include refid="approvalApplySql" />
		FROM gjk_approval_apply
		<where>
			<if
				test="approvalApply.id != null and approvalApply.id.trim() != ''">
				AND id = #{approvalApply.id}
			</if>
		</where>
	</select>

	<select id="getIdByApprovalIdApplyId"
		resultMap="approvalApplyMap">
		SELECT
		<include refid="approvalApplySql" />
		FROM gjk_approval_apply
		<where>
			<if
				test=" approvalApply.approvalId != null and approvalApply.approvalId.trim() != ''">
				AND approval_id = #{approvalApply.approvalId}
			</if>
			<if
				test=" approvalApply.applyId != null and approvalApply.applyId.trim() != ''">
				AND apply_id = #{approvalApply.applyId}
			</if>
		</where>
	</select>

	<select id="getAllApprovalApplyByApprovalId"
		resultMap="approvalApplyMap">
		SELECT
		<include refid="approvalApplySql" />
		FROM gjk_approval_apply
		<where>
			<if test=" approvalId != null and approvalId.trim() != ''">
				AND approval_id = #{approvalId}
			</if>
		</where>
	</select>

	<!-- 新增审批记录 -->
	<insert id="saveApproval"
		parameterType="com.inforbus.gjk.libs.api.entity.Approval">
		INSERT INTO gjk_approval(
		<include refid="approvalSql" />
		)
		VALUES(
		#{approval.id},
		#{approval.userId},
		#{approval.applyId},
		#{approval.applyType},
		#{approval.libraryType},
		#{approval.applyTime},
		#{approval.applyUserId},
		#{approval.approvalState},
		#{approval.approvalTime},
		#{approval.createTime},
		#{approval.updateTime},
		#{approval.description})
	</insert>

	<select id="getApprovalById"
		parameterType="com.inforbus.gjk.libs.api.entity.Approval"
		resultMap="approvalMap">
		SELECT
		<include refid="approvalSql" />
		FROM gjk_approval
		<where>
			<if test="id != null and id.trim() != ''">
				AND id = #{id}
			</if>
		</where>
	</select>

	<select id="getByApplyId"
		parameterType="com.inforbus.gjk.libs.api.entity.Approval"
		resultMap="approvalMap">
		SELECT
		<include refid="approvalSql" />
		FROM gjk_approval
		<where>
			<if test="projectId != null and projectId.trim() != ''">
				AND apply_id = #{projectId}
			</if>
		</where>
	</select>

	<select id="getIdByApplyId"
		parameterType="com.inforbus.gjk.libs.api.entity.Approval"
		resultMap="approvalMap">
		SELECT
		<include refid="approvalSql" />
		FROM gjk_approval
		<where>
			<if test="applyId != null and applyId.trim() != ''">
				AND apply_id = #{applyId}
			</if>
		</where>
	</select>

	<!-- 审批未处理消息 -->
	<select id="getUnprocessedRecord"
		parameterType="com.inforbus.gjk.libs.api.entity.Approval"
		resultMap="approvalMap">
		SELECT
		<include refid="approvalSql" />
		FROM gjk_approval
		<where>
			<if
				test="approval.applyUserId != null and approval.applyUserId.trim() != ''">
				AND apply_user_id = #{approval.applyUserId}
			</if>
			AND approval_state in ('0','1','4')
		</where>
	</select>

	<update id="removeCompApproval">
		UPDATE gjk_approval_apply SET approval_state = '3'
		where approval_id IN
		<foreach collection="idList" item="approvalId" index="index"
			open="(" close=")" separator=",">
			#{approvalId}
		</foreach>
		AND apply_id = #{compId}
	</update>

</mapper>
