<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Copyright (c) 2018-2025, inforbus All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the inforbus.com developer nor the names of its ~ contributors 
	may be used to endorse or promote products derived from ~ this software without 
	specific prior written permission. ~ Author: inforbus -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.libs.mapper.CompframeMapper">

	<resultMap id="compframeMap"
		type="com.inforbus.gjk.libs.api.entity.Compframe">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="version" column="version" />
		<result property="filePath" column="file_path" />
		<result property="applyState" column="apply_state" />
		<result property="applyDesc" column="apply_desc" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
	</resultMap>

	<!--compframe简单分页查询 -->
	<select id="getCompframePage" resultMap="compframeMap">
		SELECT
		id,
		name,
		version,
		file_path,
		apply_state,
		apply_desc,
		create_time,
		update_time,
		description,
		del_flag
		FROM gjk_compframe
		<where>
			<if test="compframe.id != null and compframe.id.trim() != ''">
				AND id = #{compframe.id}
			</if>
			<if test="compframe.name != null and compframe.name.trim() != ''">
				AND name = #{compframe.name}
			</if>
			<if
				test="compframe.version != null and compframe.version.trim() != ''">
				AND version = #{compframe.version}
			</if>
			<if
				test="compframe.filePath != null and compframe.filePath.trim() != ''">
				AND file_path = #{compframe.filePath}
			</if>
			<if
				test="compframe.applyState != null and compframe.applyState.trim() != ''">
				AND apply_state = #{compframe.applyState}
			</if>
			<if
				test="compframe.applyDesc != null and compframe.applyDesc.trim() != ''">
				AND apply_desc = #{compframe.applyDesc}
			</if>
			<if
				test="compframe.createTime != null and compframe.createTime.trim() != ''">
				AND create_time = #{compframe.createTime}
			</if>
			<if
				test="compframe.updateTime != null and compframe.updateTime.trim() != ''">
				AND update_time = #{compframe.updateTime}
			</if>
			<if
				test="compframe.description != null and compframe.description.trim() != ''">
				AND description = #{compframe.description}
			</if>
			<if
				test="compframe.delFlag != null and compframe.delFlag.trim() != ''">
				AND del_flag = #{compframe.delFlag}
			</if>
		</where>
	</select>
	<!-- 保存关系 -->
	<insert id="insertCompframePlatform">
		INSERT INTO gjk_compframe_platform
		(`compframe_id`,
		`platform_id`)
		VALUES (#{frameId}, #{platformId})
	</insert>
	<!-- 保存框架 -->
	<insert id="insertCompframe"
		parameterType="com.inforbus.gjk.libs.api.entity.Compframe">
		INSERT INTO
		gjk_compframe(id, name,
		version,
		file_path,
		apply_desc,
		description)
		VALUES
		(#{compframe.id},
		#{compframe.name},
		#{compframe.version},
		#{compframe.filePath},
		#{compframe.applyDesc},
		#{compframe.description})

	</insert>


</mapper>
