<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~    Copyright (c) 2018-2025, inforbus All rights reserved.
 ~
 ~ Redistribution and use in source and binary forms, with or without
 ~ modification, are permitted provided that the following conditions are met:
 ~
 ~ Redistributions of source code must retain the above copyright notice,
 ~ this list of conditions and the following disclaimer.
 ~ Redistributions in binary form must reproduce the above copyright
 ~ notice, this list of conditions and the following disclaimer in the
 ~ documentation and/or other materials provided with the distribution.
 ~ Neither the name of the inforbus.com developer nor the names of its
 ~ contributors may be used to endorse or promote products derived from
 ~ this software without specific prior written permission.
 ~ Author: inforbus
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.libs.mapper.ProjectMapper">

  <resultMap id="projectMap" type="com.inforbus.gjk.libs.api.entity.Project">
                  <id property="id" column="id"/>
                        <result property="projectName" column="project_name"/>
                        <result property="userId" column="user_id"/>
                        <result property="projectImg" column="project_img"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="defaultSoftwareId" column="default_software_id"/>
                        <result property="description" column="description"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="userName" column="username"/>
            </resultMap>

  <!--project简单分页查询-->
  <select id="getProjectPage" resultMap="projectMap">
    SELECT
                  p.id,
                        p.project_name,
                        p.user_id,
                        p.project_img,
                        p.create_time,
                        p.update_time,
                        p.default_software_id,
                        p.description,
                        p.del_flag,
                        u.username
              FROM gjk_project p left join sys_user u on p.user_id = u.user_id
    <where>
              <if test="project.id != null and project.id.trim() != ''">
          AND id = #{project.id}
        </if>
              <if test="project.projectName != null and project.projectName.trim() != ''">
          AND project_name = #{project.projectName}
        </if>
              <if test="project.userId != null and project.userId.trim() != ''">
          AND user_id = #{project.userId}
        </if>
              <if test="project.projectImg != null and project.projectImg.trim() != ''">
          AND project_img = #{project.projectImg}
        </if>
              <if test="project.createTime != null and project.createTime.trim() != ''">
          AND create_time = #{project.createTime}
        </if>
              <if test="project.updateTime != null and project.updateTime.trim() != ''">
          AND update_time = #{project.updateTime}
        </if>
              <if test="project.defaultSoftwareId != null and project.defaultSoftwareId.trim() != ''">
          AND default_software_id = #{project.defaultSoftwareId}
        </if>
              <if test="project.description != null and project.description.trim() != ''">
          AND description = #{project.description}
        </if>
              <if test="project.delFlag != null and project.delFlag.trim() != ''">
          AND del_flag = #{project.delFlag}
        </if>
          </where>
          ORDER BY create_time DESC
  </select>



</mapper>
