<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Copyright (c) 2018-2025, inforbus All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the inforbus.com developer nor the names of its ~ contributors 
	may be used to endorse or promote products derived from ~ this software without 
	specific prior written permission. ~ Author: inforbus -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.libs.mapper.SoftwareMapper">

	<resultMap id="softwareMap"
		type="com.inforbus.gjk.libs.api.entity.Software">
		<id property="id" column="id" />
		<result property="softwareName" column="software_name" />
		<result property="version" column="version" />
		<result property="filePath" column="file_path" />
		<result property="applyState" column="apply_state" />
		<result property="applyDesc" column="apply_desc" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="description" column="description" />
		<result property="delFlag" column="del_flag" />
		<result property="userId" column="user_id" />
	</resultMap>

	<sql id="saveSoftwareSql">
		id,
		user_id,
		software_name,
		version,
		file_path,
		apply_state,
		apply_desc,
		create_time,
		update_time,
		description,
		del_flag
	</sql>

	<sql id="saveSoftwareDetailSql">
		platform_id,
		software_id
	</sql>

	<sql id="saveSoftwareFileSql">
		file_name,
		software_id,
		file_path
	</sql>

	<!--software简单分页查询 -->
	<select id="getSoftwarePage" resultMap="softwareMap">
		SELECT
		id,
		user_id,
		software_name,
		version,
		file_path,
		apply_state,
		apply_desc,
		create_time,
		update_time,
		description,
		del_flag
		FROM
		gjk_software
		where user_id = #{software.userId} or apply_state = '2'
		order by update_time DESC
<!--		<where>-->
<!--			<if test="software.id != null and software.id.trim() != ''">-->
<!--				AND id = #{software.id}-->
<!--			</if>-->
<!--			<if test="software.userId != 0">-->
<!--				AND user_id = #{software.userId}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.softwareName != null and software.softwareName.trim() != ''">-->
<!--				AND software_name = #{software.softwareName}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.version != null and software.version.trim() != ''">-->
<!--				AND version = #{software.version}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.filePath != null and software.filePath.trim() != ''">-->
<!--				AND file_path = #{software.filePath}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.applyState != null and software.applyState.trim() != ''">-->
<!--				AND apply_state = #{software.applyState}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.applyDesc != null and software.applyDesc.trim() != ''">-->
<!--				AND apply_desc = #{software.applyDesc}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.createTime != null and software.createTime.trim() != ''">-->
<!--				AND create_time = #{software.createTime}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.updateTime != null and software.updateTime.trim() != ''">-->
<!--				AND update_time = #{software.updateTime}-->
<!--			</if>-->
<!--			<if-->
<!--				test="software.description != null and software.description.trim() != ''">-->
<!--				AND description = #{software.description}-->
<!--			</if>-->
<!--			and del_flag = '0'-->
<!--			ORDER BY create_time desc-->
<!--		</where>-->
	</select>

	<!-- 保存软件框架信息 -->
	<insert id="saveSoftware"
		parameterType="com.inforbus.gjk.libs.api.entity.Software">
		INSERT INTO gjk_software (
		<include refid="saveSoftwareSql" />
		) VALUES (
		#{soft.id},
		#{soft.userId},
		#{soft.softwareName},
		#{soft.version},
		#{soft.filePath},
		#{soft.applyState},
		#{soft.applyDesc},
		#{soft.createTime},
		#{soft.updateTime},
		#{soft.description},
		#{soft.delFlag})
	</insert>

	<!-- 保存软件框架子表信息 -->
	<insert id="saveSoftwareDetail"
		parameterType="com.inforbus.gjk.libs.api.entity.SoftwareDetail">
		INSERT INTO gjk_software_detail (
		<include refid="saveSoftwareDetailSql" />
		) VALUES (#{softDetail.platformId},
		#{softDetail.softwareId})
	</insert>

	<!-- 保存软件框架文件路径子表信息 -->
	<insert id="saveSoftwareFile"
		parameterType="com.inforbus.gjk.libs.api.entity.SoftwareFile">
		INSERT INTO gjk_software_file (
		<include refid="saveSoftwareFileSql" />
		) VALUES (#{softFile.fileName},
		#{softFile.softwareId},
		#{softFile.filePath})
	</insert>

	<!-- 根据选择的平台文件对版本进行赋值 -->
	<!-- <select id="setVersionSize" resultMap="softwareMap"> SELECT * FROM 
		gjk_software b WHERE b.software_id IN ( SELECT a.`software_id` FROM gjk_software_detail 
		a WHERE platform_id = #{platformId}) ORDER BY b.`version` DESC LIMIT 1 </select> -->

	<!-- 对版本进行赋值 -->
	<select id="setVersionSize" resultMap="softwareMap">
		SELECT *
		FROM gjk_software
		b
		ORDER BY b.`version` DESC LIMIT 1
	</select>
	
	<!-- 根据id级联删除software文件表 -->
	<delete id="removeSoftwareFile">
		DELETE FROM gjk_software_file WHERE software_id = #{softwareId}
	</delete>
	
	<!-- 根据id级联删除software详细表 -->
	<delete id="removeSoftwareDetail">
		DELETE FROM gjk_software_detail WHERE software_id = #{softwareId}
	</delete>

	<!--根据多个ID查询数据列表-->
	<select id="getAllSoftwareListByIdIn" resultMap="softwareMap">
		SELECT *
		FROM gjk_software as gs
		where gs.id in (${ids})  and del_flag!='1'
		order by gs.software_name desc,gs.version desc
	</select>

</mapper>
