<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Copyright (c) 2018-2025, inforbus All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the inforbus.com developer nor the names of its ~ contributors 
	may be used to endorse or promote products derived from ~ this software without 
	specific prior written permission. ~ Author: inforbus -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.inforbus.gjk.libs.mapper.CommonComponentDetailMapper">

	<resultMap id="commonComponentDetailMap"
		type="com.inforbus.gjk.libs.api.entity.CommonComponentDetail">
		<id property="id" column="id" />
		<result property="compId" column="comp_id" />
		<result property="fileName" column="file_name" />
		<result property="fileType" column="file_type" />
		<result property="filePath" column="file_path" />
		<result property="paraentId" column="paraent_id" />
		<result property="version" column="version" />
		<result property="paraentIds" column="paraent_ids" />
		<result property="libsId" column="libs_id" />
	</resultMap>

	<sql id="commonComponentDetailSql">
		id,
		comp_id,
		file_name,
		file_type,
		file_path,
		paraent_id,
		version,
		paraent_ids,
		libs_id
	</sql>

	<!--commonComponentDetail简单分页查询 -->
	<select id="getCommonComponentDetailPage"
		resultMap="commonComponentDetailMap">
		SELECT
		<include refid="commonComponentDetailSql" />
		FROM gjk_common_component_detail
		<where>
			<if
				test="commonComponentDetail.id != null and commonComponentDetail.id.trim() != ''">
				AND id = #{commonComponentDetail.id}
			</if>
			<if
				test="commonComponentDetail.compId != null and commonComponentDetail.compId.trim() != ''">
				AND comp_id = #{commonComponentDetail.compId}
			</if>
			<if
				test="commonComponentDetail.fileName != null and commonComponentDetail.fileName.trim() != ''">
				AND file_name = #{commonComponentDetail.fileName}
			</if>
			<if
				test="commonComponentDetail.fileType != null and commonComponentDetail.fileType.trim() != ''">
				AND file_type = #{commonComponentDetail.fileType}
			</if>
			<if
				test="commonComponentDetail.filePath != null and commonComponentDetail.filePath.trim() != ''">
				AND file_path = #{commonComponentDetail.filePath}
			</if>
			<if
				test="commonComponentDetail.paraentId != null and commonComponentDetail.paraentId.trim() != ''">
				AND paraent_id = #{commonComponentDetail.paraentId}
			</if>
			<if
				test="commonComponentDetail.version != null and commonComponentDetail.version.trim() != ''">
				AND version = #{commonComponentDetail.version}
			</if>
			<if
				test="commonComponentDetail.paraentIds != null and commonComponentDetail.paraentIds.trim() != ''">
				AND paraent_ids = #{commonComponentDetail.paraentIds}
			</if>
			<if
				test="commonComponentDetail.libsId != null and commonComponentDetail.libsId.trim() != ''">
				AND libs_id = #{commonComponentDetail.libsId}
			</if>
		</where>
	</select>

	<!-- 保存公共构件详细信息 -->
	<insert id="saveCommonCompDetail"
		parameterType="com.inforbus.gjk.libs.api.entity.CommonComponentDetail">
		INSERT INTO gjk_common_component_detail (
		<include refid="commonComponentDetailSql" />
		) VALUES
		(#{compDetail.id},
		#{compDetail.compId},
		#{compDetail.fileName},
		#{compDetail.fileType},
		#{compDetail.filePath},
		#{compDetail.paraentId},
		#{compDetail.version},
		#{compDetail.paraentIds},
		#{compDetail.libsId})
	</insert>

	<select id="getAllCompDetailByCompId"
		resultMap="commonComponentDetailMap">
		SELECT
		<include refid="commonComponentDetailSql" />
		FROM gjk_common_component_detail
		<where>
			comp_id in
			<foreach collection="compList" item="item" index="index"
				open="(" separator="," close=")">
				#{item.id}
			</foreach>
		</where>
	</select>

</mapper>
