<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~    Copyright (c) 2018-2025, inforbus All rights reserved.
 ~
 ~ Redistribution and use in source and binary forms, with or without
 ~ modification, are permitted provided that the following conditions are met:
 ~
 ~ Redistributions of source code must retain the above copyright notice,
 ~ this list of conditions and the following disclaimer.
 ~ Redistributions in binary form must reproduce the above copyright
 ~ notice, this list of conditions and the following disclaimer in the
 ~ documentation and/or other materials provided with the distribution.
 ~ Neither the name of the inforbus.com developer nor the names of its
 ~ contributors may be used to endorse or promote products derived from
 ~ this software without specific prior written permission.
 ~ Author: inforbus
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inforbus.gjk.libs.mapper.HardwarelibChipMapper">

  <resultMap id="hardwarelibChipMap" type="com.inforbus.gjk.libs.api.entity.HardwarelibChip">
                  <id property="id" column="id"/>
                        <result property="chipName" column="chip_name"/>
                        <result property="sn" column="sn"/>
                        <result property="chipId" column="chip_id"/>
                        <result property="ipConfige" column="ip_confige"/>
                        <result property="hrTypeName" column="hr_type_name"/>
                        <result property="recvRate" column="recv_rate"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="version" column="version"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="coreNum" column="core_num"/>
                        <result property="memSize" column="mem_size"/>
                        <result property="nodeId" column="node_id"/>
                        <result property="chipData" column="chip_data"/>
            </resultMap>

  <sql id= "ChipSql">
  	id,
  	chip_name,
  	hr_type_name,
  	ip_confige,
  	core_num,
  	mem_size,
  	recv_rate,
  	version,
  	chip_data
  </sql>
   <!-- 保存芯片 -->
   <insert id="saveChip"
   		parameterType = "com.inforbus.gjk.libs.api.entity.HardwarelibChip">
   		INSERT INTO gjk_hardwarelib_chip(<include refid="ChipSql" />)
   		VALUES
   		(#{hardwarelibChip.id},
   		#{hardwarelibChip.chipName},
         #{hardwarelibChip.hrTypeName},
         #{hardwarelibChip.ipConfige},
         #{hardwarelibChip.coreNum},
         #{hardwarelibChip.memSize},
       #{hardwarelibChip.recvRate},
       #{hardwarelibChip.version},
   		#{hardwarelibChip.chipData}
   		)
   </insert>
  <!--hardwarelibChip简单分页查询-->
  <select id="getHardwarelibChipPage" resultMap="hardwarelibChipMap">
    SELECT
                  id,
                        chip_name,
                        sn,
                        chip_id,
                        ip_confige,
                        hr_type_name,
                        recv_rate,
                        create_time,
                        update_time,
                        version,
                        del_flag,
                        core_num,
                        mem_size,
                        node_id,
                        chip_data
              FROM gjk_hardwarelib_chip
    <where>
              <if test="hardwarelibChip.id != null and hardwarelibChip.id.trim() != ''">
          AND id = #{hardwarelibChip.id}
        </if>
              <if test="hardwarelibChip.chipName != null and hardwarelibChip.chipName.trim() != ''">
          AND chip_name = #{hardwarelibChip.chipName}
        </if>
              <if test="hardwarelibChip.sn != null and hardwarelibChip.sn.trim() != ''">
          AND sn = #{hardwarelibChip.sn}
        </if>
              <if test="hardwarelibChip.chipId != null and hardwarelibChip.chipId.trim() != ''">
          AND chip_id = #{hardwarelibChip.chipId}
        </if>
              <if test="hardwarelibChip.ipConfige != null and hardwarelibChip.ipConfige.trim() != ''">
          AND ip_confige = #{hardwarelibChip.ipConfige}
        </if>
              <if test="hardwarelibChip.hrTypeName != null and hardwarelibChip.hrTypeName.trim() != ''">
          AND hr_type_name = #{hardwarelibChip.hrTypeName}
        </if>
              <if test="hardwarelibChip.recvRate != null and hardwarelibChip.recvRate.trim() != ''">
          AND recv_rate = #{hardwarelibChip.recvRate}
        </if>
              <if test="hardwarelibChip.createTime != null and hardwarelibChip.createTime.trim() != ''">
          AND create_time = #{hardwarelibChip.createTime}
        </if>
              <if test="hardwarelibChip.updateTime != null and hardwarelibChip.updateTime.trim() != ''">
          AND update_time = #{hardwarelibChip.updateTime}
        </if>
              <!--<if test="hardwarelibChip.description != null and hardwarelibChip.description.trim() != ''">
          AND description = #{hardwarelibChip.description}
        </if>-->
              <if test="hardwarelibChip.delFlag != null and hardwarelibChip.delFlag.trim() != ''">
          AND del_flag = #{hardwarelibChip.delFlag}
        </if>
              <if test="hardwarelibChip.coreNum != null and hardwarelibChip.coreNum.trim() != ''">
          AND core_num = #{hardwarelibChip.coreNum}
        </if>
              <if test="hardwarelibChip.memSize != null and hardwarelibChip.memSize.trim() != ''">
          AND mem_size = #{hardwarelibChip.memSize}
        </if>
              <if test="hardwarelibChip.nodeId != null and hardwarelibChip.nodeId.trim() != ''">
          AND node_id = #{hardwarelibChip.nodeId}
        </if>
        	  <if test="hardwarelibChip.chipData != null">
          AND chip_data = #{hardwarelibChip.chipData}
        	  </if>
          </where>
  </select>



</mapper>
